@font-face {
  font-family: "MyFont";
  src: url(../fonts/GenEiChikugoMin3-R.ttf);
}

body {
  font-family: "MyFont";
  font-size: 30px;
  color: #fff;

  margin: 0;
  overflow: hidden;
}

.bgc-none {
  background-color: transparent !important;
}

.scene {
  width: 100%;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.75);

  display: flex;
  flex-wrap: wrap;
}

img {
  object-fit: contain;
}

img.back {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100vh;

  position: fixed;
  z-index: -1;
}

/*  */
.title {
  width: 100vw;
  height: 80px;

  display: table-cell;
  vertical-align: middle;

  color: #000;
  text-align: center;
  font-size: 60px;
  background-color: #f00;
}

.centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

.area {
  width: 100%;

  text-align: center;
  margin-top: 30px;
}

.cells {
  justify-content: center;
}

/* -------------------------------------------------- */
/*  */
/* -------------------------------------------------- */
.flont {
  position: fixed;
  top: 0;
  left: -50px;
  width: 150px;
  height: 100%;
  background-color: #f00;
  transform: skew(-5deg);
}

.sideItems {
  position: fixed;
  left: 20px;

  height: 100vh;
  z-index: 100;
}

.scrolBars > .scrolBar {
  width: 5px;
  height: calc(15vh - 20px);
  margin: 10px 0;

  background-color: #000;

  transition: all 0.25s;
}

.scrolBars > .scrolBar.active {
  background-color: #fff;
}

/* -------------------------------------------------- */
/* １：タイトルロゴ */
/* -------------------------------------------------- */
.titleLog {
  width: 50%;
  min-width: 300px;
}

/* -------------------------------------------------- */
/* ２：ストーリー */
/* -------------------------------------------------- */
.strong {
  font-weight: bold;
  padding-top: 5%;

  transform: skewX(340deg);
}

/* -------------------------------------------------- */
/* ３：ハンドアウト */
/* -------------------------------------------------- */
.pc {
  display: flex;
  background-color: rgba(255, 0, 0, 0.5);
  padding-left: 15%;

  margin: 10px 0;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  background-color: #000;

  font-size: 100px;

  transform: skewX(355deg);
}

.order {
  font-size: 20px;
  text-align: start;
  padding: 10px 0 10px 50px;
}

/* -------------------------------------------------- */
/* ４：キャラクター */
/* -------------------------------------------------- */
#sect-4 .cells {
  display: flex;
}

#sect-4 .cell {
  background-color: #f00;
  width: calc(100vw / 3);
  height: 60vh;
}
